export(createPrior)
export(createLookUpTable)
export(computeSSDs)
export(expectedEntropy)
export(minmaxlogistic)
export(pInhibitPerSSD)
export(posteriorFailure)
export(posteriorSuccess)
export(predictRT)